@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../public/static/fonts/proximanova_bold.woff');
};



@font-face {
    font-family: 'Proxima Nova ExtraBold';
    src: url('../public/static/fonts/proximanova_extrabold.woff');
}